.News {
}

.News h1 {
  margin: 0;
}

.News .top-header {
  display: flex;
  background-color: #f9f7f4;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.News .top-header-h2 {
  background-color: #f9f7f4;
}

.News main {
  padding: 0 1rem;
  max-width: 1500px;
}

.News section a {
  font-weight: normal;
}

.News section a:hover {
  filter: none;
}

.News h3 {
  /* width: 17rem; */
  text-wrap: wrap;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.News p {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.news-new-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.kakao_ad_area {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .loading-container {
    margin-top: 100px;
  }

  .News main header {
    text-align: start;
    padding: 0;
    margin: 0;
  }

  .News aside {
    margin: 1rem -10px;
    padding: 1rem;
    /* height: 19rem; */
    width: 20rem;
  }

  .news-new-header h2 {
    width: 16rem;
    margin-bottom: 0;
  }

  .News img {
    /* width: '100%';
    margin-right: 1rem; */
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .loading-container {
    margin-top: 200px;
  }

  .News main header {
    text-align: start;
    padding: 0;
    margin: 0 4rem;
  }

  .News aside {
    margin: 1rem;
    padding: 1rem;
    /* height: 30rem; */
  }

  .news-new-header h2 {
    width: 11rem;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .News aside img {
    /* width: '100%';
    margin-right: 1rem; */
    /* width: 100%; */
    text-align: center;
    max-height: 15rem;
  }
}

.News .p-source-image {
  display: flex;
  align-items: center;
}
