.div-car p {
  font-size: 16px;
  font-weight: 500 !important;
  letter-spacing: -1;
}

.div-car ol li,
.div-car ul li {
  font-size: 12px;
}

.div-car sup {
  top: 4px;
  font-size: 12px;
}

.div-car .container {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.div-car section aside {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: none;
  margin: 1rem;
  padding: 1.25rem;
  width: var(--width-card);
}

.div-car section aside:hover {
  box-shadow: none;
}

.div-car table {
  border: 1px solid var(--color-bg-secondary);
  /* border-radius: var(--border-radius); */
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
}

.div-car table td,
.div-car table th,
.div-car table tr {
  padding: 0.4rem 0.8rem;
  text-align: var(--justify-important);
}

.div-car table thead {
  background-color: var(--color-table);
  border-collapse: collapse;
  color: var(--color-table-text-color);
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.div-car table thead th:first-child,
.div-car table tr td:first-child {
  text-align: var(--justify-normal);
}

.div-car table tbody tr:nth-child(2n + 1) {
  background-color: #fff;
}

.div-car table tr:nth-child(even) {
  background-color: #fafafa;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  /* border: 3px solid #999999; */
  z-index: 2000;
  transform: translate(-50%, -50%);
}

/* Add styles to the form container */
.form-container {
  /* max-width: 700px; */
  /* padding: 20px; */
  border: 3px solid #999999;
  background-color: #fff;
}

/* Full-width input fields */
.form-container input[type='text'],
.form-container input[type='password'],
.form-container input[type='time'],
.form-container input[type='number'] {
  width: 100%;
  /* width: 200px; */
  padding: 13px;
  /* margin: 5px 0 15px 0; */
  /* border: none; */
  /* background: #f1f1f1; */
}

.form-container input[type='date'] {
  width: 100%;
  padding: 12px;
}

/* When the inputs get focus, do something */
.form-container input[type='text']:focus,
.form-container input[type='password']:focus,
.form-container input[type='date']:focus,
.form-container input[type='time']:focus,
.form-container input[type='number']:focus {
  /* background-color: #ddd; */
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color: white;
  padding: 10px 14px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Add a red background color to the cancel button */
.form-container .btn.cancel {
  background-color: gray;
  /* margin-right: 5px; */
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.div-car .btn {
  color: white;
  padding: 10px 14px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.div-car .btnHelp {
  color: white;
  padding: 10px 14px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

/* Add a red background color to the cancel button */
.div-car .btnHelp {
  background-color: gray;
  margin-right: 5px;
}

.form-container {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: block;
  max-width: var(--width-card-wide);
  min-width: var(--width-card);
  padding: 1.5rem;
  text-align: var(--justify-normal);
}

.form-container header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

.form-container input,
.form-container label,
.form-container select,
.form-container textarea {
  display: block;
  font-size: inherit;
  max-width: var(--width-card-wide);
}

.form-container input[type='checkbox'],
.form-container input[type='radio'] {
  display: inline-block;
}

.form-container input[type='checkbox'] + label,
.form-container input[type='radio'] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

.form-container input[type='range'] {
  padding: 0.4rem 0;
}

.form-container input,
.form-container select,
.form-container textarea {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

.form-container input[type='text'],
.form-container input[type='password'],
.form-container input[type='date'],
.form-container input[type='time'],
.form-container input[type='number'],
.form-container textarea {
  width: calc(100% - 1.8rem);
}

.form-container input[readonly],
.form-container textarea[readonly] {
  background-color: var(--color-bg-secondary);
}

.div-car input,
.div-car label,
.div-car select,
.div-car textarea {
  display: block;
  font-size: 12px;
  max-width: var(--width-card-wide);
}

.div-space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.importantCell {
  border-bottom: 2px solid #e94080;
}

#lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.494);
  top: 0%;
  left: 0%;
  position: fixed;
  z-index: 1500;
  display: none;
}

#lightboxImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #eee;
}

#my_modal {
  width: 320px;
  padding: 10px 10px;
  background-color: #fefefe;
  line-height: 16px;
  border: 1px solid #888;
  border-radius: 3px;
}

@media screen and (min-width: 767px) {
  .div-car {
    margin: 0 10px;
  }

  .pc_exp {
    margin-top: 100px;
  }

  .div-car section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);
  }

  .infoI {
    font-size: 13px;
  }

  .btnHelp {
    display: none;
  }

  #my_modal {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .div-car {
    margin: 0;
  }

  .div-car table {
    scrollbar-width: none; /* Firefox */
  }

  .div-car table::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  .pc_exp {
    display: none;
  }

  .btnHelp {
    display: flex;
  }

  .infoI {
    margin-top: 5px;
    font-size: 15px;
  }

  #popup_open_btn {
    display: block;
    float: right;
    width: 50px;
    padding: 4px 1px;
    font-size: 12px;
    background-color: #eee;
    color: #000;
    margin-right: 1%;
    border: 1px solid #999;
  }

  .div-space-between {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }

  .div-space-between aside {
    width: 95%;
    padding: 0px;
    box-shadow: none;
    border: none;
    margin: 1%;
  }

  .modal_close_btn {
    cursor: pointer;
    display: inline-block;
    float: right;
    text-align: center;
    width: 80px;
    padding: 8px;
    background-color: #eee;
    color: #000;
    margin-right: 1%;
    border: 1px solid #999;
  }

  body {
    padding: 1%;
  }

  .form-container {
    height: 80vh;
    overflow-y: scroll;
  }
}

.table_style table {
  border-radius: none !important;
  border-bottom: 11px solid #6d707a !important;
}

.table_style th {
  border-top: var(--color-link) solid 2px !important;
  border-bottom: #d3d3d3 solid 1px !important;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  color: #33394c;
  height: 46px !important;
  line-height: 150%;
  letter-spacing: -0.4;
  background-color: #fafafa;
}

.table_style .thparent {
  border-bottom: 1px solid #fafafa !important;
}

.table_style .thchild {
  border-top: 1px solid #fafafa !important;
}

.table_style td {
  font-size: 14px;
  letter-spacing: -0.3;
  vertical-align: middle;
  color: #6d707a;
  text-align: center;
  overflow-wrap: break-word;
  line-height: 150%;
  height: 44px;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5 !important;
}
