.dispatch {
  font-size: 13px;
  font-weight: 500 !important;
  letter-spacing: -1;
}

.dispatch p {
  font-size: 16px;
  font-weight: 500 !important;
  letter-spacing: -1;
}

.dispatch sup {
  top: 5px;
  left: 15px;
  font-size: 12px;
  background-color: #f6a800 !important;
}

.dispatch aside {
  font-weight: 500;
}

.div-space-between-dispatch {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}

.div-space-between-dispatch aside {
  flex-basis: 50%;
}

.div-space-between-dispatch {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 0.5rem;
  padding: 2rem;
  margin-bottom: 40px;
}

.importantCell {
  border-bottom: 2px solid #e94080;
}

#lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.494);
  top: 0%;
  left: 0%;
  position: fixed;
  display: none;
}

#lightboxImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #eee;
}

#my_modal {
}

#my_modal .modal_close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: noone;
}

#popup_open_btn {
  display: none;
}

.point01 {
  font-weight: 500;
  color: #282c3d;
}

@media screen and (max-width: 900px) {
  #popup_open_btn {
    display: inline-block;
    float: right;
    font-size: 14px;
    height: 27px;
    width: 60px;
    padding: 2px;
    background-color: #eee;
    color: #33343b;
    margin-right: 1%;
    margin-left: 1%;
    border: 1px solid #d5d5d6;
    margin-top: 18px;
  }

  #my_modal {
    width: 600px;
    padding: 20px 10px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
    display: none;
  }

  .div-space-between-dispatch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }

  .div-space-between-dispatch aside {
    width: 90%;
  }
}

.button03 {
  padding: 4px 14px;
  font-size: 16px;
  font-weight: 600;
  height: 100px;
  line-height: 1.5;
  width: 120px;
}

.point01 {
  font-weight: 500;
  color: #282c3d;
}
ol li,
ul li {
  padding: 0.2rem 0;
  list-style: none;
}
